/*
* RESET
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  font-size: 62.5%;
  --light: #f1f6fc;
  --medium: #ba8748;
  --dark: #333333;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Inter", Sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: -0.022 em;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.4rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.3rem;
}
h6 {
  font-size: 1.9rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
* UTILS
*/

@media (min-width: 35em) {
  .container {
    padding-inline: 6.4rem;
  }
}

/*
* IMPORTS
*/

@import '@/styles/nav';
@import '@/styles/footer';
@import '@/styles/slider';
@import '@/styles/home';
