@media (min-width: 35em) {
  .sectiontwo {
    padding-block: 5.6rem;
    & > .container {
      display: flex;
      gap: 5.6rem;
      & > div {
        flex: 10rem 1 1;

      }
      & > div:nth-of-type(1) {
        cursor: pointer;
        &:hover{
          background-color: var(--medium);
        }
        &:hover > div{
          background-color: var(--medium);
          color: white!important;
        }
        & > div {
          padding: 1.6rem;
          color: var(--medium);
          & > div:nth-of-type(1) {
            display: flex;
            gap: 1.6rem;

            & > div {
              flex: 20rem 1 1;
            }

            margin-bottom: 2.4rem;
          }
        }
      }
      & > div:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        margin-bottom: 1.6rem;
        & > div {
          flex: 20rem 1 1;
          justify-content: center;
          align-items: center;
          display: flex;
          color: var(--medium);
          text-align: center;
          padding: 2.4rem;
          background-color: var(--light);
          svg {
            font-size: 6.4rem;
            margin-bottom: 1.2rem;
          }
        }
        & > div:nth-of-type(1) {
          background-color: var(--medium);
          color: white;
        }
      }
    }
  }

  .sectionthree {
    padding-block: 5.6rem;
    background-color: var(--light);

    & > h2{
      color: var(--medium); 
      text-align: center;
      margin-bottom: 1.6rem;
    }

    & > p{
      width: 60rem; 
      text-align: center; 
      margin-bottom: 4rem; 
      margin-inline: auto; 
      color: var(--medium);
    }

    & > div {
      display: flex;
      flex-wrap: wrap;
      & > div {
        flex: 30rem 1 1;
      }
      gap: 3.2rem;
      .serv-card {
        box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
        & > div:nth-of-type(1) {
          height: 20rem;
        }
        & > div:nth-of-type(2) {
          padding: 2.4rem;
          background-color: white;
          color: var(--medium);
          h4 {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }

  .sectionfour {
    padding-block: 5.6rem;
    & > div:nth-of-type(1) {
      text-align: center;

      color: var(--medium);

      h2 {
        margin-block: 2.4rem;
      }
      p {
        width: 60rem;
        margin-inline: auto;
      }
    }

    & > div:nth-of-type(2) {
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      gap: 3.2rem;
      color: var(--medium);
      & > div {
        flex: 20rem 1 1;
        text-align: center;
        padding: 2.4rem;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
        h4 {
          margin-block: 2.4rem;
        }
        svg {
          font-size: 6.4rem;
        }
      }
    }
  }

  .sectionfive {
    padding-block: 5.6rem;
    & > div:nth-of-type(1) {
      color: var(--medium);
      text-align: center;
      h2 {
        margin-bottom: 1.6rem;
      }
      p {
        margin-bottom: 4rem;
      }
    }
    & > div:nth-of-type(2) {
      display: flex;
      flex-wrap: wrap;
      gap: 3.2rem;

      & > div {
        flex: 10rem 1 1;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
        padding: 3.2rem;
        & > div:nth-of-type(1) {
          margin-bottom: 2.4rem;
        }
        & > div:nth-of-type(2) {
          display: flex;
          gap: 2.4rem;
          picture {
            display: block;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            padding: 1.2rem;
            border: solid 0.3rem var(--medium);
          }
        }
      }
    }
  }
  .sectionsix {
    background-color: var(--light);
    padding-block: 5.6rem;
    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 3.2rem;
      & > div:nth-of-type(1) {
        flex-basis: 80%;
        flex-grow: 1;
      }
      & > div:nth-of-type(2) {
        flex-basis: 10%;
        flex-grow: 1;
        button{
          outline: none; 
          background-color: red;
          color: white; 
          padding: 1.6rem;
          border: none;
        }
      }
    }
  }
}

@media (max-width: 35em) {
  .sectiontwo {
    padding: 1.6rem;
    & > .container {
      & > div:nth-of-type(1) {
        & > div {
          color: var(--medium);
          & > div:nth-of-type(1) {
            display: flex;
            gap: 1.6rem;

            & > div {
              flex: 20rem 1 1;
            }

            margin-bottom: 2.4rem;
          }
        }
      }
      & > div:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        margin-block: 1.6rem;
        & > div {
          flex: 10rem 1 1;
          justify-content: center;
          align-items: center;
          display: flex;
          color: var(--medium);
          text-align: center;
          padding: 2.4rem;
          background-color: var(--light);
          svg {
            font-size: 6.4rem;
            margin-bottom: 1.2rem;
          }
        }
        & > div:nth-of-type(1) {
          background-color: var(--medium);
          color: white;
        }
      }
    }
  }




  .sectionthree {
    padding: 1.6rem;
    background-color: var(--light);

    & > h2{
      color: var(--medium); 
      text-align: center;
      margin-bottom: 1.6rem;
    }

    & > p{
      text-align: center; 
      margin-bottom: 4rem; 
      margin-inline: auto; 
      color: var(--medium);
    }

    & > div {

  
      .serv-card {
        box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
        & > div:nth-of-type(1) {
          height: 20rem;
        }
        & > div:nth-of-type(2) {
          padding: 2.4rem;
          background-color: white;
          color: var(--medium);
          h4 {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }



  .sectionfour {
    margin-top: 4rem;
    padding-inline: 1.6rem;
    padding-block: 2.4rem;
    & > div:nth-of-type(1) {
      text-align: center;

      color: var(--medium);

      h2 {
        margin-block: 2.4rem;
      }
      p {
        
        margin-inline: auto;
      }
    }

    & > div:nth-of-type(2) {
      margin-top: 4rem;
 
      color: var(--medium);
      & > div {
 
        text-align: center;
        padding: 2.4rem;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
        h4 {
          margin-block: 2.4rem;
        }
        svg {
          font-size: 6.4rem;
        }
      }
    }
  }


  .sectionfive {
    margin-top: 4rem;
    padding: 1.6rem;
    & > div:nth-of-type(1) {
      color: var(--medium);
      text-align: center;
      h2 {
        margin-bottom: 1.6rem;
      }
      p {
        margin-bottom: 4rem;
      }
    }
    & > div:nth-of-type(2) {

      & > div {
  
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
        padding: 3.2rem;
        & > div:nth-of-type(1) {
          margin-bottom: 2.4rem;
        }
        & > div:nth-of-type(2) {
          display: flex;
          gap: 2.4rem;
          picture {
            display: block;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            padding: 1.2rem;
            border: solid 0.3rem var(--medium);
          }
        }
      }
    }
  }


  .sectionsix {
    background-color: var(--light);
    margin-top: 4rem;
    padding: 1.6rem;
    & > div {
      & > div:nth-of-type(2) {
        margin-top: 2.4rem;
        button{
          outline: none; 
          background-color: red;
          color: white; 
          padding: 1.6rem;
          border: none;
        }
      }
    }
  }

}
